<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <table width="30%" border="1">
    <% for (let url in urls) { %>
    <tr>
      <td><%= url %></td>
      <td><%= urls[url] %></td>
    </tr>

    <% } %>

  </table>
</body>

</html>